{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            My Title
        {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div>
                <img src="{% static 'logo.jpg' %}" height="38">
            </div>
            <span style="float: right;">
                {% if user.is_authenticated %}
                    {{user.username}}
                    <a href="{% url 'logout' %}?next=/">Logout</a>
                {% else %}
                    Not Logged in.
                    <a href="{%url 'login'%}?next=/">Login </a>
                {%endif%}
            </span>

            <div>
                <img src="{% static 'top_banner.jpg' %}" height="80">
            </div>
        </header>
        <aside id="leftsidebar">
            <nav id="nav">
                <ul>
                    {% block sidenav %}
                    <li>
                        Menu1
                    </li>
                    <li>
                        Menu2
                    </li>
                     {% endblock sidenav %}
                </ul>
            </nav>
        </aside>
        <section id="main">
            {% block content %}
            <h1>This is our BookExchange system</h1>
            {% endblock content %}
        </section>
        <footer id="footer">
            2022 Fall CS3337 Project
        </footer>
    </div>
</body>
</html>