{% extends "base.html" %}

{% block title %}
 My Books Page
{% endblock title  %}

{%block navbar%}
<ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
    </li>
{% for item in item_list %}

    <li class="nav-item">
        <a class="nav-link" href="{{item.link}}">{{item.item}} </a>
    </li>
{% endfor %}
</ul>
{%endblock navbar%}

{% block content %}
    <h1 align="center"> My Books Page</h1>
<table align="center" border="2" width="400">
    {% for book in books %}
    <tr>
        <td>
            <a href="book_detail/{{book.id}}">
                {{ book.name }}
            </a>
        </td>
         <td>
            <a href="book_delete/{{book.id}}">
                DELETE
            </a>
        </td>
    </tr>
    {%endfor %}
</table>
{% endblock content %}