{% extends "base.html" %}

{% block title %}
 Comments Page
{% endblock title  %}

{% block sidenav %}
  {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
  {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1> Post Comment Page</h1>
{% if submitted %}
<p> Comment Posted Successfully</p>
{%else %}
<form action="" enctype="multipart/form-data" method="post" novalidate>
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>
{% endif%}

{% endblock content %}