{% extends "base.html" %}
{% load static %}
{% block title %}
 Book Detail Page
{% endblock title  %}

{%block navbar%}
<ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
    </li>
{% for item in item_list %}

    <li class="nav-item">
        <a class="nav-link" href="{{item.link}}">{{item.item}} </a>
    </li>


{% endfor %}
</ul>
{%endblock navbar%}

{% block content %}
    <h1 align="center">  Book Detail</h1>
<table align="center" border="2" width="400">
    <tr>
        <td>
            {{book.name}}
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static book.pic_path %}" width="100"/>
        </td>
    </tr>
    <tr>
        <td>
            {{book.username}}
        </td>
    </tr>
    <tr>
        <td>
            <a href="postcomment/{{book.id}}">
                Add Comment
            </a>
        </td>
    </tr>

</table>
{% endblock content %}